@font-face {
  font-family: sortefax;
  src: url(../fonts/Sortefax_026.ttf);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
  background-image: url(../img/images.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.cntrContainer {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(225, 225, 225, 0.3);
  line-height: normal;
  backdrop-filter: blur(8px);
  border-radius: 5%;
  padding: 1rem;
  width: 35rem;
}

.myWorkWidth {
  width: 70rem;
}

h1 {
  margin: 1rem;
  display: flex;
  background-image: linear-gradient(to right, transparent 0%, rgb(0, 76, 255) 20%, rgb(0, 76, 255) 80%, transparent 100%);
  font-family: sortefax;
  color: black;
  width: 22rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 10%;
  justify-content: center;
}

.switchButton {
  margin: 0;
  color: black;
  text-decoration: none;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}
.switchButton:hover {
  color: white;
}

.avatar {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}

.divider {
  width: 35rem;
  background-image: linear-gradient(to right, transparent, rgb(0, 76, 255) 20%, rgb(0, 76, 255) 80%, transparent);
  border-radius: 10%;
  height: 0.3rem;
}

.hide {
  animation: fadeOut ease 1s;
  animation-fill-mode: forwards;
}

.hidden {
  display: none;
}

.open {
  animation: fadeIn ease 1s;
  animation-fill-mode: forwards;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
}

.workCard {
  margin: 1rem;
  border: 5px solid black;
  border-radius: 5%;
  width: 30rem;
  height: 20rem;
  filter: none;
  text-align: center;
}
.workCard .overlay {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.workCard a, .workCard p {
  margin: 0;
  color: blue;
  font-size: 3rem;
  text-decoration: none;
}
.workCard .workCardContent {
  position: absolute;
  text-align: center;
  -webkit-transition: filter 1s ease;
  -moz-transition: filter 1s ease;
  -ms-transition: filter 1s ease;
  -o-transition: filter 1s ease;
  transition: filter 1s ease;
  filter: none;
  width: inherit;
}
.workCard:hover .workCardContent {
  filter: blur(8px);
}
.workCard:hover .overlay {
  opacity: 0.95;
}
.workCard img {
  border-radius: 3.5%;
  width: inherit;
  height: 20rem;
}

h3 {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin: 0rem;
}
h3:hover {
  background-color: none;
}

/*# sourceMappingURL=newstyle.css.map */
