@use 'import/transition';

@font-face {
    font-family: sortefax;
    src: url(../fonts/Sortefax_026.ttf);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

body {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
    background-image: url(../img/images.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.cntrContainer {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(225, 225, 225, 0.3);
    line-height: normal;
    backdrop-filter: blur(8px);
    border-radius: 5%;
    padding: 1rem;
    width: 35rem;
}

.myWorkWidth{
    width: 70rem;
}

h1 {
    margin: 1rem;
    display: flex;
    background-image: linear-gradient(to right, transparent 0%, rgb(0, 76, 255) 20%, rgb(0, 76, 255) 80%, transparent 100%);
    font-family: sortefax;
    color:  rgb(52, 196, 225);
    width: 22rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 10%;
    justify-content: center;
}

.switchButton {
    margin: 0;
    color: rgb(52, 196, 225);
    text-decoration: none;
    @include transition.transition(color, 1s, ease);

    &:hover {
        color: white;
    }
}

.avatar {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    margin: 10px;
}

.divider {
    width: 35rem;
    background-image: linear-gradient(to right, transparent, rgb(0, 76, 255) 20%, rgb(0, 76, 255) 80%, transparent);
    border-radius: 10%;
    height: 0.3rem;
}

.hide {
    animation: fadeOut ease 1s;
    animation-fill-mode: forwards;
}

.hidden {
    display: none;
}

.open {
    animation: fadeIn ease 1s;
    animation-fill-mode: forwards;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

input {
    &[type="submit"], &[type="reset"] {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
}

.column{
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    display: flex;
    flex-direction: column;
    width: auto;

    &.contentMid{
        justify-content: center;
    }
}

.workCard {
    margin: 1rem;
    border: 5px solid black;
    border-radius: 5%;
    width: 30rem;
    height: 20rem;
    filter: none;
    text-align: center;
    cursor: pointer;
    
    .overlay{
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        opacity: 0;
        width: 100%;
        height: 100%;
        @include transition.transition(opacity, 1s, ease);
    }
    a, p{
        margin: 0;
        color: blue;
        font-size: 3rem;
        text-decoration: none;
    }

    .workCardContent{
        position: absolute;
        text-align: center;
        @include transition.transition(filter, 1s, ease);
        filter: none;
        width: inherit;
    }

    &:hover{
        .workCardContent{
            filter: blur(8px);
        }
        
        .overlay{
            opacity: 0.95;
        }
    }


    & img{
        border-radius: 3.5%;
        width: inherit;
        height: 20rem;
    }
}

h3{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

p{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}